*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: goldenrod;
  font-family: "Schoolbell", sans-serif;
  font-size: 2rem;
  min-height: 100vh;
}

a {
  color: black;
  text-decoration: none;
}

.heading-1 {
  font-family: "Coming Soon", serif;
  font-size: 2rem;
}

.memory {
  background-color: goldenrod;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(3, 200px);
  justify-content: center;
  margin: 100px auto;
  padding: 20px;
  perspective: 1000px;

  &__card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.2s;
  }

  &__back {
    position: absolute;
  }

  &__front {
    position: absolute;
    transform: rotateY(180deg);
  }
}

.flipped {
  transform: rotateY(180deg);
}

.disabled {
  pointer-events: none;
}
